@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wellfleet', monospace;
}
body{
    height: 70vh;
    position: relative;
}
header{
    padding: 28px;
    text-align: center;
    & h1{
        color:rgba(0, 0, 0, 0.836)
    }
}
main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
}
footer{
    position: fixed;
    bottom: 3px;
    width: 100%;
    text-align: center;
}
ul, li{
    padding: 10px;
    list-style: none;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 30px;
    transition: 1s;
    border-right: solid 2px rgba(0, 0, 0, 0.212);
    & a{
    width: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 30px 5px;
    }
}
nav:hover{
    transition: 1s;
    width: 130px;    
}
nav a img{
    width: 20px;
}

