*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2b2823;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
}
main{
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 150px auto;
    padding: 32px 50px;
    display: flex;
    flex-direction: column;
}
#logo{
    position: relative;
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #e9e8e9 ;
    animation: open_page 1s ease;
    transition: all 1s ease;
}#logo a{
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    color: #2b2823;
    font-size: 12px;
}#logo a:hover{
    color: black;
}
#logo img{
    width: 60px;
}

#form_cd{
    width: 100%;
    margin: 0 auto;
    background-color: #4a4aee;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: open_page1 1s ease;
    transition: all 1s ease;
}#form_cd form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    padding: 20px 10px;
}#form_cd form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px;
    background-color: transparent;
}#form_cd label{
    color: #2b2823;
    align-self: flex-start;
    font-size: 14x;
    font-weight: 200;
}#form_cd a{
    font-size: 10px;
    color: #2b2823;
    text-decoration: none;
}#form_cd a:hover{
    color: #2b2823;
}
.fomr_itm{
    width: 100%;
    height: 20px;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #2b2823;
    color: #2b2823;
    outline: none;
}
#bnt_lg{
    width: 80%;
    height: 35px;
    margin-top: 14px;
    border: solid 2px #2b2823;
    background-color: transparent;
    color:  #2b2823;
    cursor: pointer;
}#bnt_lg:hover{
    transition: 2s;
    background-color: #201e1b;
}

@media (min-width:600px) {
    main{
        width: 600px;
        flex-direction: row;
    }    
    #logo{
        height: 220px;
        width: 40%;
    }#logo a{
        position: absolute;
        bottom: 10px;
        width: 80%;
        text-align: center;
    }#logo img{
        width: 80px;
    }
    #form_cd{
        height: 220px;
        width: 60%;
    }
}

@keyframes open_page {
    0%{
        width: 100%;

    }
    100%{
        width: 40%;

    }
}

/* @keyframes open_page1 {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
} */